header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    width: 80px;
}

#text {
    text-align: center;
  font-size: 1rem; /* Aumenta o tamanho do texto */
  font-weight: bold; /* Torna o texto mais destacado (opcional) */
  color: #333; /* Define uma cor para o texto (opcional) */
}
